$primary: #1C2530;
$active-btn: #3D86F4;
$border-color: #C4CAD4;
$settings-color: #86949E;
$danger: #F53D5C;
$success: #22C33D;


$primary-hover: #1939cc;
$success-hover: #6be525;
$danger-hover: #8f0808;
$active: #f2f2f2;

$main-bg-color: #fff;
$main-border: rgba(10, 10, 10, 0.2);
$main-box-shadow:
  0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
  0 0 0 1px rgba(10, 10, 10, 0.02);
